{% extends "base.html" %}

{% block content %}
<div class="row">
    <h2 class="text-align-center"><strong>Nuestra Historia</strong></h2>
    <p class="text-align-center">Es una historia muy larga Tienes Tiempo? Te quedas un ratito para que te lo contemos</p>
    <p class="text-align-center">Blah blah blah blah blah blah blah blah blah</p>
    <p class="text-align-center">Blah blah blah blah blah blah blah blah blah</p>
    <p class="text-align-center">Blah blah blah blah blah blah blah blah blah</p>
    <p class="text-align-center">Blah blah blah blah blah blah blah blah blah</p>
    <p class="text-align-center">Blah blah blah blah blah blah blah blah blah</p>
    <p class="text-align-center">Blah blah blah blah blah blah blah blah blah</p>
    <p class="text-align-center">Blah blah blah blah blah blah blah blah blah</p>
    <p class="text-align-center">Blah blah blah blah blah blah blah blah blah</p>
</div>

{% endblock %}