{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvidos |  {{ block.super }}{% endblock %}

{% block jumbotron %}
<div class="row">
    <div class="col-sm-6">
        <div class="bg-light p-5 rounded">
            <h1>Probar Django 3.2</h1>
            <p class="lead">Un proyecyo para principiantes. El objetivo es construir una pagina web simple a la par que elegante en muy poco tiempo</p>
            <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">Unete &raquo;</a>
        </div>
    </div>
    <div class="col-sm-6" style="background-color: black;height: 300px;"></div>
</div>
{% endblock %}

{{ titulo }}<br/>
{{ request.user }}<br/>
<hr/>
<br/>

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <p class="lead text-align-center">{{ titulo }}</p>
        <form method="POST" action="">{% csrf_token %}
            {{ el_form|crispy }}
            <input class="btn btn-primary" type="submit" value="Registrama" />
        </form>
    </div>
    <div class="col-sm-3"><p class="lead text-align-center">creado con Django &amp; Bootstrap</p></div>
    <div class="col-sm-3"><p class="lead text-align-center">y con mucho amor, claro.</p></div>
    <div class="col-sm-3"><p class="lead text-align-center">codigo abierto, simple.</p></div>
</div>
<hr/>
{% endblock %}