{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Bienvidos |  {{ block.super }}{% endblock %}

<style>
{% block style %}
.jumbotron{
    background-color: #1b3375 !important;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 30px;
    color: white !important;
}
{% endblock %}
</style>


{% block jumbotron %}
<table class="table">
{% if request.user.is_staff %}
{% for instance in queryset %}
<tr><td>{{ forloop.counter }}</td><td>{{ instance }}</td><td>{{instance.nombre}}</td><td>hace {{instance.timestamp|timesince}}</td></tr><br>
{% endfor %}
</table>
{% else %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Probar Django 3.2</h1>
                <p class="lead">Un proyecyo para principiantes. El objetivo es construir una pagina web simple a la par que elegante en muy poco tiempo</p>
                <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">Unete &raquo;</a>
            </div>
            <div class="col-sm-6"><iframe width="654" height="368" src="https://www.youtube.com/embed/ChSvnSv_3aw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{{ titulo }}<br/>
{{ request.user }}<br/>
<hr/>
<br/>

{% block content %}
{% if request.user.is_staff %}
{% else %}
<div class="row">
    <div class="col-sm-3">
        {% if not user.is_authenticated %}
        <p class="lead text-align-center">Subcriberte</p>
        <form method="POST" action="">{% csrf_token %}
            {{ el_form|crispy }}
            <input class="btn btn-primary" type="submit" value="Enviar" />
        </form>
        {% else %}
        <p class="lead text-align-center">{{ titulo }}<br/><br/>
        <i class="fa fa-hand-peace-o fa-5x" aria-hidden="true"></i>
        {% endif %}
    </div>
    <div class="col-sm-3"><p class="lead text-align-center">creado con Django &amp; Bootstrap<br/><i class="fab fa-galactic-republic fa-5x " ></i></p></div>
    <div class="col-sm-3"><p class="lead text-align-center">y con mucho amor, claro.</p><img height="150px" width="200px" src="{% static 'img/obama-tacos.jpg' %}" class="img-responsive" /></div>
    <div class="col-sm-3">
        <p class="lead text-align-center">codigo abierto, simple.<br />
            <span class="fa-stack fa-lg fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </p>
    </div>
</div>
<hr/>
{% endif %}
{% endblock %}