<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">PROBAR DJANGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-md-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}">Salir</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Registrate</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Entrar</a></li>
          {% endif %}
        </ul>
        <ul>
          {% if not request.user.is_authenticated %}
          <form class="narbar-nav " method="POST" action="{% url 'auth_login' %}">{% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Usuario" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Clave" />
            </div>
            <button type="submit" class="btn btn-default">Entrar</button>
          </form>
          {% endif %}
        </ul>
<!--    <form class="d-flex">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button> 
        </form> -->
      </div>
    </div>
</nav>